<!-- check -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="general.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="general.js"></script>
    <script src="template_post_script.js"></script>
    <script src="createPost_script.js"></script>
    <title>General</title>
</head>
<body>
    {{> header}}
    {{!-------------------------------------------------------------------------}}
    <main>
        <div class = "main_feed"> 

            <div class = "main_feed-post">
              
                <div class = "main_createPost" onclick="openLoginForm_create()">What's on your mind, Michael Angelo?</div>
                <div id="loginFormModal-create" class="modal">
                    {{>createPost}}
                </div>
                <div class="post_list">
                    {{>template_post}}
                </div>
                
                
            </div>
        </div>

        
        
    </main>
</body>
</html>