<!-- check -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="general.css">
    <script type = "text/javascript" src="general.js"></script>
    <title>General</title>
</head>
<body>
    {{> header}}
    {{!-------------------------------------------------------------------------}}
    <main>
        <div class = "main_feed"> 

            <div class = "main_feed-post">
                <div class = "main_createPost" onclick="navigateToPost('/createPost')">Create Post</div>
                {{!-- POST1 --}}
                <div class="main_post" id="post-1">    
                    <div class = "main_post-top " onclick="navigateToPost('/post')">
                        <div class = "main_post-desc">
                            <div class = "main_post-desc-poster">
                                <div class = "main_post-desc-poster-pic"></div>
                                <div class = "main_post-desc-poster-name">
                                u/Kooky_Marketing_3807</div>
                                <div class = "main_post-desc-banner">General Question</div>
                            </div>
                            
                            <div class = "main_post-desc-title">
                                Lf swimming kasama</div>
                            <div class = "main_post-desc-content">
                                Swimming

                                Hi!! Are there people interested in swimming at razon every Wednesday and Thursday?
                            </div>
                        </div>

                        <div class="main_post-buttons">
                            <div class="main_vote">
                                <div class="up_vote" onclick="toggleImage(this)"></div>
                                <span class = "num_vote">10</span>
                                <div class="down_vote" onclick="toggleImage(this)"></div>
                            </div>
                            <div class="button-container">
                                <div class="main_post-buttons-comment"></div>
                                <span>Comment</span>
                            </div>
                            <div class="button-container">
                                <div class="main_post-buttons-share"></div>
                                <span>Share</span>
                            </div>

                        </div>
                    </div>
                </div>
    
            </div>
        </div>

        
        
    </main>
</body>
</html>