<body>


    {{> index_header}}

    <main>
        <div class = "index_main_feed"> 

            <div class = "index_main_feed-post">
                {{!-- POSTS --}}
                <div class="main_post" id="post-1">    
                    <div class = "main_post-top " onclick="navigateToPost('/post')">
                        <div class = "main_post-desc">
                            <div class = "main_post-desc-poster">
                                <div class = "main_post-desc-poster-pic"></div>
                                <div class = "main_post-desc-poster-name">
                                u/Kooky_Marketing_3807</div>
                                <div class = "main_post-desc-banner">General Question</div>
                            </div>
                            
                            <div class = "main_post-desc-title">
                                Lf swimming kasama</div>
                            <div class = "main_post-desc-content">
                                Swimming

                                Hi!! Are there people interested in swimming at razon every Wednesday and Thursday?
                            </div>
                        </div>

                        <div class="main_post-buttons">
                            <div class="main_vote">
                                <img class="up_vote" src="CCAPDEV-LOGO-2\2.png" alt="">
                                <img class="up_vote_filled" src="CCAPDEV-LOGO-2\16.png" alt="" hidden>
                                <span class = "num_vote">10</span>
                                <img class="down_vote" src="CCAPDEV-LOGO-2\3.png" alt="">
                                <img class="down_vote_filled" src="CCAPDEV-LOGO-2\17.png" alt="" hidden>
                            </div>
                            <div class="button-container">
                                <div class="main_post-buttons-comment"></div>
                                <span>Comment</span>
                            </div>
                            <div class="button-container">
                                <div class="main_post-buttons-share"></div>
                                <span>Share</span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class = "main_about">
                <div class = "main_about-info">
                    <div class = "main_about-info-title">About DLSU</div>
                    <div class = "main_about-info-pic"></div>
                    <div class = "main_about-info-desc">De La Salle University positions itself as a leader in molding human 
                        resources who serve the church and the nation. It is a Catholic 
                        coeducational institution founded in 1911 by the Brothers of the 
                        Christian Schools. The University is a hub for higher education 
                        training renowned for its academic excellence, prolific and relevant 
                        research, and involved community service.
                        <p>
                        Nestled in the heart of Manila, De La Salle University is home to local 
                        and international students seeking quality education for a brighter 
                        future ahead. It is situated in a vibrant city where culture and diversity 
                        is well manifested.</div>
                </div>

            </div>
        </div>
</body>
</html>
