<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Profile</title>
<link rel="stylesheet" href="view.css"> <!-- Ensure this path is correct -->
<link rel="stylesheet" href="general.css"> <!-- Ensure this path is correct -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type = "text/javascript" src="general.js"></script>
<script type = "text/javascript" src="template_post_script.js"></script>
</head>


<body>
    {{> viewProfile_header}}

    <div class="profile-navbar">
        <a href="#" class = "active">POSTS</a>
        <a href="#">COMMENTS</a>
        <a href="#">SAVED</a>
        <a href="#">HIDDEN</a>
        <a href="#">UPVOTED</a>
        <a href="#">DOWNVOTED</a>
    </div>

<ul class="post-list">
    {{>template_post}}
</ul>

</body>
</html>
