{{!-- POSTS --}}

<div class="main_post" id="post-1">    
    <div class="main_post-top">
        <div class="main_post-desc">
            <div class="main_post-desc-title" id="admin_mpdt">
                <div class="acc_username">Username</div>
                <div class="acc_email">Email</div>
                <div class="acc_idnum">ID Number</div>
                <div class="acc_college">College</div>
            </div>
            <div class="main_post-desc-content">
                {{#each allAccounts}}
                    <div class="acc_info">
                        <div class="acc_info-username">{{username}}</div>
                        <div class="acc_info-email">{{email}}</div>
                        <div class="acc_info-idnum">{{idNo}}</div>
                        <div class="acc_info-college">{{college}}</div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
