        <div class="header_1">
            <div class = "header_1-logo" onclick="navigateToUrl('/admin')"></div>
            <div class = "admin_text">Admin Page</div>
            
            <div class="header_1-button">
                <div class="header_1-login" onclick="navigateToUrl('/main')">
                    LOGOUT
                </div>
            </div>
            
        </div>
        <div class="header_2">
            <div class="color1"></div>
            <div class="color2"></div>
            <div class="header_2-channel">
                <div class="header_2-channel-pic"></div>
                <div class="header_2-channel-info">
                    <div class ="header_2-channel-info-1">De La Salle University</div>
                    <div class ="header_2-channel-info-2">A place for De La Salle University - Manila students, faculty, alumni, and fans! Animo La Salle! 🏹</div>
                </div>
            </div>
        </div>

        <script>
    function navigateToPost(postId) {
        window.location.href = '/admin_post?postId=' + postId;
    }

    function navigateToUrl(url) {
        window.location.href = url;
    }
</script>