{{!-- POSTS --}}

<div class="main_post" id="post-1">    
    
                    <div class="main_post-top">
                        <div class = "main_post-desc">
                            
                            <div class = "main_post-desc-title" id = "admin_mpdt">
                                   <div class = "acc_username">Username</div>
                                    <div class = "acc_email">Email</div>
                                    <div class = "acc_idnum">ID Number</div>
                                    <div class = "acc_college">College</div>
                                </div>
                            <div class = "main_post-desc-content">
                              <div class = "acc_info">
                                    <div class = "acc_info-username">Populate here</div>
                                    <div class = "acc_info-email">@ admin_list_accounts.hbs</div>
                                    <div class = "acc_info-idnum">122</div>
                                    <div class = "acc_info-college">CCS</div>
                              </div>
                            </div>
                        </div>

                       
                    </div>
</div>
