{{!-- {{log this}} --}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Edit Post</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Create-Post.css"> <!-- Use the same CSS file as createpost for styling -->
    <script type="text/javascript" src="/general.js"></script>
</head>
<body>
<div class="create-post-cointainer">
    <div class="create-post-top">
        <div class="create-draft-container">
            <div class="create-a-post-container">
                Edit Post
            </div>
            <span class="close" onclick="closeLoginForm_edit()">&times;</span>
        </div>
    </div>
    <hr class="divider">
    <div class="main">
        <div class="text-box-container">
            <div class="title-box-container">
                <div class="title-box-holder">
                    <textarea maxlength="300" placeholder="Title" class="title-box" rows="1" id="title">{{postInfoData.Title}}</textarea>
                </div>
            </div>
            <div class="body-box-container" id="bbc-edit">
                <div class="body-box-holder">
                    <textarea placeholder="Text" class="body-box" id="body">{{postInfoData.Body}}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="post-box-container" onclick="submitEdit('{{postInfoData._id}}')" id="pbc_edit">
        Submit
    </div>
</div>

</body>
</html>

<style>
    .title-box, .body-box {
        font-weight: lighter;
        color: gray;
    }
</style>
