 <div class="header_1">
            <div class = "header_1-logo" onclick="navigateToPost('/general')"></div>
            <div class="header_1-search"onclick="toggleDropdown_search()">Search
                <div class="dropdown-content_search">
                    <a href="Post4.html">grammarly</a>
                    <a href="Post3.html">LF peeps to party with lol</a>
                    <a href="Post1.html">Lf swimming kasama</a>
                </div>
            </div>
            
            
            <div class="header_1-user" onclick="toggleDropdown_user()">
                <div class="header_1-user-pic" id="headerUserPic"></div>
                <div class="header_1-user-info">
                    <div class="header_1-user-name" id="headerUserName">Michael Angelo Depasucat</div>
                    <div class="header_1-user-id" id="headerUserId">ID122-CCS</div>
                </div>
                <div class="dropdown-content_user">
                    <a href="/viewProfile">View Profile</a>
                    <a href="/editProfile">Edit Profile</a>
                    <a href="/">Log Out</a>
                </div>
            </div>
            
        </div>
        <div class="header_2">
            <div class="color1"></div>
            <div class="color2"></div>
            <div class="header_2-user">
                <div class="header_2-user-pic" id="headerUserPic1"></div>
                <div class="header_2-user-info">
                    <div class ="header_2-user-info-1" id="headerUserName1">Michael Angelo Depasucat</div>
                    <div class ="header_2-user-info-2" id="headerUserId1">ID122-CSS</div>
                </div>
            </div>
        </div>
