strong{
    color: red;
    margin-left: 10px;
}

form, .jumbotron{
    border-radius: 15px;
    background-color: PaleGoldenRod;
    padding: 20px;
}

td{
    padding-bottom: 15px;
}

footer, header{
    text-align: center;
}

.main{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

.main > p{
    border-radius: 15px;
    background-color: PaleGreen;
    padding: 20px;
}

