<!DOCTYPE html>
<!-- Pogi ako -->
<html>
<head>
    <meta charset="utf-8">
    <title>Post</title>
    <link rel="stylesheet" href="/Post-Style.css">
    <script type = "text/javascript" src="/general.js"></script>
    <!-- <link rel="stylesheet" href="general.css"> -->
    <link rel="stylesheet" href="/general.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type = "text/javascript" src="/Post-JS.js"></script>
    <script type="text/javascript" src="/editPost_script.js"></script>
</head>
<body>
    {{> admin_header}}
    <main>
        <div class = "main_feed"> 
            <div class = "main_feed-post">
                {{>admin_master_post}}
            </div>
        </div>      
    </main>
</body>

</html>