{{!-- {{log this}} --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/general.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/general.js"></script>
    <script type="text/javascript" src="/shared.js"></script>
    <script src="/template_post_script.js"></script>
    <script src="/createPost_script.js"></script>
    <title>General</title>
    <script>
        const userData = {{{json userData}}};
    </script>
</head>
<body>
    {{> header}}
    <main>
        <div class="main_feed">
            <div class="main_feed-post">
                <div class="main_createPost" onclick="openLoginForm_create()">What's on your mind, <span class="main_userPost" id="usernamePlaceholder">{{userData.username}}</span>?</div>
                <div id="loginFormModal-create" class="modal">
                    {{>createPost}}
                </div>

            <div class="sort-search-part">
                <div class="sort-search-container">
                    <div class="sort-by">
                        <div class="dropdown">
                            <button class="sort-button" onclick="toggleDropdown()">Sort By: Best</button>
                            <div class="dropdown-content" id="sortOptions">
                            <a class="best" href="#">Best</a>
                            <a class="new" href="#">New</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <hr class = "divider">
                <div class="post_list">
                    {{#each postInfoData}}

                    {{>general_post}}
                    
                    {{/each}}
                </div>
            </div>
        </div>
    </main>
</body>
</html>
<style>
        
    .sort-search-part{
        margin-top: 10px;;
    background-color: #00523E;
    }

    .sort-search-container{
        align-items: center;
        display: flex;
        background-color: #00523E;
    }

    .sort-by{
        align-items: center;
        display: flex;
        background-color: #00523E;
    }

    .sort-button{
        font-size: 14px;
        font-family: arial, sans-serif;
        color: white;
        background-color: #00523E;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }
  .dropdown {
          position: relative;
          display: inline-block;
        }
    

        .sort-button {
          background-color: #00523E;
          color: white;
          padding: 10px;
          border: none;
          cursor: pointer;
        }
    
        .dropdown-content a {
            background-color: white;
          color: black;
          padding: 12px 16px;
          display: block;
          text-decoration: none;
        }
    
        .dropdown-content a:hover {
          background-color: #ddd;
          
        }


    .dropdown-content {
      display: none;
      position: absolute;
      background-color:#00523E;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
      margin-top: -10px;
    }
</style>

<script>
    function toggleDropdown() {
      var dropdownContent = document.getElementById("sortOptions");
      dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
    }
  

    window.onclick = function(event) {
      if (!event.target.matches('.sort-button')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.style.display === "block") {
            openDropdown.style.display = "none";
          }
        }
      }
    }

    $(document).ready(function(){
      $('.best').click(function(){
            $('.sort-button').text('Sort By: Best');
            var postList = $('.post_list');

            var posts = postList.children('.main_post');

            posts.sort(function(a, b) {
                  var numVotesA = parseInt($(a).find('.num_vote').text());
                  var numVotesB = parseInt($(b).find('.num_vote').text());
                  return numVotesB - numVotesA;
            });
          postList.empty().append(posts);
      });


      $('.new').click(function(){
          $('.sort-button').text('Sort By: New');
          var postList = $('.post_list');

          var posts = postList.children('.main_post');

          posts.sort(function(a, b) {
              var dateA = new Date($(a).find('.main_post-date').text());
              var dateB = new Date($(b).find('.main_post-date').text());
              return dateB - dateA;
          });

          postList.empty().append(posts);
      });

     
    });



    

</script>

