<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DLSYOU Login</title>
    <link rel="stylesheet" href="/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/general.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function login() {
            var formData = {
                username: document.getElementsByName("username")[0].value,
                password: document.getElementsByName("password")[0].value
            };
            
            $.ajax({
                type: "POST",
                url: "/login",
                data: formData,
                success: function(response) {
                    if (response.isAdmin) {
                        showAdminPopup();
                    } else {
                        window.location.href = '/general';
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error during login:', error);
                    alert("Login failed. Please try again.");
                }
            });
        }

        function showAdminPopup() {
            var popup = document.getElementById("adminPopup");
            popup.style.display = "block";
        }

        function closePopup() {
        var popup = document.getElementById("adminPopup");
        popup.style.display = "none";
        }

        function redirectToPanel(panel) {
            window.location.href = '/' + panel;
        }
    </script>
</head>

<body>
    <div class="wrapper">
        <form action="javascript:login()" method="POST">
            <img src="ADD-ONS/blacklogo.png" alt="DLSYOU Logo" class="logo" onclick="navigateToPost('/main')">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" name="username" placeholder="Username" required onfocus="this.placeholder=''" onblur="this.placeholder='Username'">
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required onfocus="this.placeholder=''" onblur="this.placeholder='Password'">
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox"> Remember me</label>
                <a href="#"> Forgot username or password?</a>
            </div>
            <div class="register-link">
                <p>Don't have an account? <a href="/signup">Register</a></p>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>

    <!-- Admin Popup -->
    <div id="adminPopup" class="popup" style="display:none;">
        <div class="popup-content">
            <h2>Welcome Admin!</h2>
            <p>Do you want to go to:</p>
            <button onclick="redirectToPanel('admin')">Admin Panel</button>
            <button onclick="redirectToPanel('general')">General Panel</button>
            <button class="close-button" onclick="closePopup()">Close</button>
        </div>
    </div>
</body>

</html>
