
<body>

    {{> index_header}}
    <main>
        <div class = "index_main_feed"> 

            <div class = "index_main_feed-post">
              
                {{#each postInfoData}}
                  
                    {{>template_post}}
                  
                {{/each}}
              
            </div>
  
        <div class = "main_about">
            <div class = "main_about-info">
                <div class = "main_about-info-title">About DLSU</div>
                <div class = "main_about-info-pic"></div>
                <div class = "main_about-info-desc">De La Salle University positions itself as a leader in molding human 
                    resources who serve the church and the nation. It is a Catholic 
                    coeducational institution founded in 1911 by the Brothers of the 
                    Christian Schools. The University is a hub for higher education 
                    training renowned for its academic excellence, prolific and relevant 
                    research, and involved community service.
                    <p>
                    Nestled in the heart of Manila, De La Salle University is home to local 
                    and international students seeking quality education for a brighter 
                    future ahead. It is situated in a vibrant city where culture and diversity 
                    is well manifested.</div>
            </div>

            </div>
        </div>
</body>
</body>
</html>
