<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Profile</title>
<link rel="stylesheet" href="view.css">
<link rel="stylesheet" href="general.css"> 
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="general.js"></script>
<script type="text/javascript" src="template_post_script.js"></script>
<script type="text/javascript" src="general.js"></script>
<script id="template-post" type="text/x-handlebars-template">
    {{!-- {{> template_post2}} --}}
</script>
<script id="template-comment" type="text/x-handlebars-template">
    {{!-- {{> template_post2}} --}}
</script>
<script id="template-save" type="text/x-handlebars-template">
    {{!-- {{> template_post2}} --}}
</script>
<script id="template-hidden" type="text/x-handlebars-template">
    {{!-- {{> template_post2}} --}}
</script>
<script id="template-interactions" type="text/x-handlebars-template">
    {{!-- {{> template_post2}} --}}
</script>

</head>

<body>
    {{> viewProfile_header}}

    <div class="profile-navbar">
        <a href="#" class="nav-link active" data-target="posts">POSTS</a>
        <a href="#" class="nav-link" data-target="comments">COMMENTS</a>
        <a href="#" class="nav-link" data-target="saved">SAVED</a>
        <a href="#" class="nav-link" data-target="hidden">HIDDEN</a>
        <a href="#" class="nav-link" data-target="interactions">INTERACTIONS</a>
    </div>

    <ul class="post-list" id="template-container">
        <!-- Content will be dynamically added here -->
    </ul>

</body>
<script>
        document.addEventListener('DOMContentLoaded', function () {
        loadUserProfile();
    });

    function loadUserProfile() {
        const storedProfileData = localStorage.getItem('userProfile');
        if (storedProfileData) {
            const userProfile = JSON.parse(storedProfileData);

            // Update header 1 with user profile data
            document.getElementById('headerUserPic').style.backgroundImage = `url('${userProfile.photo}')`;
            document.getElementById('headerUserName').innerText = userProfile.username;
            document.getElementById('headerUserId').innerText = `ID${userProfile.idNumber.substring(0, 3)}-${userProfile.college}`;

            // Update header 2 with user profile data
            document.getElementById('headerUserPic2').style.backgroundImage = `url('${userProfile.photo}')`;
            document.getElementById('headerUserName2').innerText = userProfile.username;
            document.getElementById('headerUserId2').innerText = `ID${userProfile.idNumber.substring(0, 3)}-${userProfile.college}`;
        }
    }
</script>
</html>
