
body {
    border: none !important;
    margin: 0;
    padding: 0;
}

header {
    height: 200px;
    border: none !important;
    margin: 0;
    padding: 0;
}

header {
    height: 200px;
    border: none !important;
    margin: 0;
    padding: 0;
}

main {
    height: auto; 
    min-height: calc(100vh - 205px); 
    box-sizing: border-box; 
    background-color: #00523E;
    padding: 20px; 
    margin: 0; 
}



.header_1 {
    margin-top:5px;
    height: 50px;
    width: 100%; 
    background-color: white;
    box-shadow: 0px 4px 5px -4px #C1ACBA;
    display: flex;
}

.header_1-button {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    margin-left: 90px; 
    margin-bottom:6px;
    font-weight:bolder ;
    font-family: IBMPlexSans, Arial, Sans-Serif;
}

.header_1-login {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 20px;
    background-color: #00523E;
    color:white;
    margin-right:5px;
}

.header_1-signup{
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 20px;
    background-color:#949494;
    color:white;
}

.header_1-login:hover,
.header_1-signup:hover {
    opacity: 0.5;
}
.header_1-logo {
    width: 90px;
    height: 46px;
    background-image: url('CCAPDEV-LOGO-1/1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.header_1-search {
    margin-left: 182px;
    width: 900px;
    height: 46px;
    background-color: #00523E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 16px;
    color: #BEBEBE;
    font-weight: lighter;
    text-align: left;
    transition: background-color 0.3s ease;
    background-image: url('CCAPDEV-LOGO-2/10.png');
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 20px;
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.header_1-search:hover {
    background-color: #BEBEBE; 
    color: #00523E;
}

.header_1-user {
    background-color: #00523E;
    width: 185px;
    height: 46px;
    margin-left: auto;
    display: flex;
    box-shadow: 0px 4px 5px -4px #C1ACBA;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
}

.dropdown-content_user {
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 14px;
    color: #060606; 
    margin-top: 50px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



.dropdown-content_user a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content_user a:hover {
    background-color: #f1f1f1;
}

.show_user {
    display: block;
}


.header_1-user-pic {
    background-image: url('ADD-ONS/profilepic.jpg');
    background-size: cover;
    background-position: center;
    width: 38px !important;
    height: 38px !important; 
    border: 1px solid #BEBEBE;
    border-radius: 50%; 
    margin: 3px;
    margin-left: 10px;
    box-shadow: 0px 0px 5px white; 
}

.header_1-user-info {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:5px;
    text-align: center;
}


.header_1-user-name, .header_1-user-id {

    font-family: Noto Sans, Arial, sans-serif;
    color: white; 
    text-align: left;
    display: flex;
    align-items: center; 
}
.header_1-user-name {
    font-size: 15px; 
    font-weight: bold; 
}
.header_1-user-id {
    font-size: 10px; 
    font-weight: lighter; 
}

.header_1-user:hover {
    background-color: #BEBEBE; 
}

.header_1-user:hover .header_1-user-name,
.header_1-user:hover .header_1-user-id {
    color: #00523E; 
}

.header_2 {
    position: relative;
    height: 150px;
}

.color1, .color2 {
    position: absolute;
    width: 100%;
}

.color1 {
    height: 40%;
    background-color: #00523E; 
    top: 0;
}

.color2 {
    height: 60%;
    background-color: white; 
    bottom: 0;
}

.header_2-channel {
    position: absolute;
    top: 50%;
    left:36%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.header_2-channel-pic {
    height: 100px;
    width: 100px;
    background-image: url('CCAPDEV-LOGO-2/1.png');
    background-size: cover;
    border-radius: 10%;
    border: 1px solid #00523E;
    background-color: white;
}

.header_2-channel-info {
    margin-top:30px;
    font-size: 30px;
    color: #1C1C1C;
    font-weight:bolder ;
    font-family: IBMPlexSans, Arial, Sans-Serif;
    margin-left: 10px; 
}

.header_2-channel-info-2{
    font-size: 10px;
    color: #7C7C7C;
    font-weight:normal;
}

.index_main_feed{
    height:auto;
    width:948px;
    background-color: #00523E;
    margin: 0 auto;
    display:flex;
}


.index_main_feed-post{

    height:auto;
    width:640px;
    margin-bottom:200px;
    
}

.main_feed{
    height:auto;
    width:948px;
    background-color: #00523E;
    margin: 0 auto;
    display:flex;
    padding:0;
}
#admin_mf{
    background-color: white;
}

.main_feed-post{
    margin-top:20px;
    height:auto;
    width:720px;
    margin-right:auto;
    margin-left: auto;
    
    
}

.main_about{
    margin-top:20px;
    height:590px;
    width:290px;
    background-color:white;
    display:flex;
    margin-left: auto;
    border: 2px solid white;
    border-radius: 10px; 
}

.main_about-info {
    margin: 0;
    padding: 0;
    height: 590px;
    width: 290px;
    border: 2px solid white;
    border-radius: 10px; 
    overflow: hidden; 
}


.main_about-info-title {
    height: 50px;
    background-color: #00523E;
    font-size: 16px;
    font-family: IBMPlexSans, Arial, Sans-Serif;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.main_about-info-desc{
    margin:10px;
    margin-top:20px;
    font-family:Noto Sans,Arial,sans-serif;
    color: #1A1A1B;
    font-size: 14px;
    text-align: justify; 
}

.main_about-info-pic{
    margin-left:9px;
    margin-top:20px;
    width: 270px;
    height:200px;
    background-image: url('CCAPDEV-LOGO-1/DLSU-building.jpg');
    border-radius: 10px;
    background-size: cover;
    background-position: -10px 0px;
}

.main_createPost {
    height: 60px;
    background-color: #BEBEBE;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    outline: none; 
    font-size: 18px;
    font-family: IBMPlexSans, Arial, Sans-Serif;
    color: white;
    font-weight: bold;
    text-align: left;
    font-style: italic;
    transition: background-color 0.3s ease;
    background-image: url('CCAPDEV-LOGO-2/14.png'); 
    background-repeat: no-repeat; 
    background-position: 20px center; 
    background-size: 20px; 
    padding-left: 60px; 
    display: flex;
    align-items: center; 
    opacity: 0.9;
}

.main_createPost:hover {
    opacity:0.5;
}

.main_userPost {
    font-size: 18px !important;
    font-family: IBMPlexSans, Arial, Sans-Serif;
}

.main_vote .up_vote, .up_vote_filled,
.main_vote .down_vote, .down_vote_filled,
.uv, .uv_filled, .dv, .dv_filled{
    cursor: pointer; 
}
.main_post {
    margin-top: 20px;
    border-radius: 10px;
    /* height: 200px; */
    display: flex;
    background-color:#949494;
    overflow: hidden; 
    justify-content: center;
    align-items: center;
    padding:0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
    color: #00523E;
}

.main_post-top:hover {
    background-color: #00523E;
    color:white;
    opacity:50%;
}


.main_post:hover .button-container:hover {
    opacity: 0.6;
}
.main_post:hover .main_vote:hover {
    opacity: 0.6;
}
.main_post:hover .main_post-desc-banner {
    color:white;
}
.main_vote {
    display:flex;
    border-radius:20px;
    background-color: #949494;
    height:30px;
    padding: 5px;
    margin-right:5px;

    
}



.main_post-top{
    width:100%;
    height:93%;
    margin-top: 0;
    background-color: #f6fff6;
    padding:0;
    /* margin-right:0; */
}

.main_post-desc-poster-pic{
    height: 30px;
    width: 30px;
    background-size: cover;
    background-image: url('ADD-ONS/profilepic.jpg');
    border-radius:50%;

    background-position: center;
}

.main_post-desc-poster{
    margin-top:5px;
    margin-left:10px;
    display:flex;
    align-items: center;
    position: relative;
}
.main_post-desc-poster-name{
    margin:10px;
    margin-top:10px;
    font-family:IBMPlexSans, Arial, Sans-Serif;
    
    font-size: 14px;
    text-align: justify;

}

.main_post-desc-banner{
    background-color: yellow;
    font-family:IBMPlexSans, Arial, Sans-Serif;
    font-size: 10px;
    text-align: justify;
    border-radius:20px;
    padding:5px;
}
.main_post-desc-title{
    margin:10px;
    margin-top:10px;
    font-family:IBMPlexSans, Arial, Sans-Serif;
    
    font-size: 20px;
    font-weight:bold;
    text-align: justify;
}

.main_post-desc-content{
    margin:10px;
    margin-top:10px;
    margin-bottom: 15px;
    font-family: Noto Sans,Arial,sans-serif;
    
    font-size: 16px;
    text-align: justify;
}


.up_vote, .up_vote_filled,
.uv, .uv_filled {
    margin: 0 auto;
    margin-top: 6px;
    margin-right:5px;
    height: 25px;
    width: 25px;
    cursor: pointer; 
}

.num_vote {
    height: 20px;
    
    margin: auto;
    margin-top: 6px;
    
    text-align: center;
    line-height: 20px;
}

.down_vote, .down_vote_filled,
.dv, .dv_filled {
    margin: 0 auto;
    margin-top: 6px;
    margin-bottom: 12px;
    margin-left:5px;
    height: 25px;
    width: 25px;
    cursor: pointer; 
}

.main_post-buttons {
    margin:10px;
    height:7%;
    display: flex;
    align-items: center;
    margin-bottom:5px;

    
    
}

.button-container {
    height:30px;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius:20px;
    padding: 5px;
    background-color: #949494;
}
.button-container:hover {
    background-color: black;
    opacity: 20%;
}
.up_vote, .down_vote, .up_vote_filled, .down_vote_filled,
.uv, .dv, .uv_filled, .dv_filled,
.main_post-buttons-comment,
.main_post-buttons-share,
.main_post-buttons-save,
.main_post-buttons-save-filled,
.main_post-buttons-edit,
.main_post-buttons-delete {
    height: 20px;
    width: 20px;
    background-size: cover;
    padding:1px
}

.main_post-buttons-comment {
    background-image: url('CCAPDEV-LOGO-2/4.png');
}

.main_post-buttons-share {
    background-image: url('CCAPDEV-LOGO-2/5.png');
}
.main_post-buttons-save {
    background-image: url('CCAPDEV-LOGO-2/6.png');
}
.main_post-buttons-save-filled {
    background-image: url('CCAPDEV-LOGO-2/20.png');
}
.main_post-buttons-edit {
    background-image: url('CCAPDEV-LOGO-2/8.png');
}
.main_post-buttons-delete {
    background-image: url('CCAPDEV-LOGO-2/9.png');
}
span {
    margin-left:5px;
    margin-right:5px;
    font-family:IBMPlexSans, Arial, Sans-Serif;
    color: white;
    font-size: 12px;
    text-align: justify;
    font-weight: bold;
}

.dropdown-content_search {
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 14px;
    color: #060606; 
    margin-top:50px;
    margin-left:330px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 848px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-content_search a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-content_search a:hover {
    background-color: #f1f1f1;
}

.show_search {
    display: block;
}






/* ---------------------------------------------------------------------- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    background-color: #fefefe;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; 
}

.header_2-user {
    position: absolute;
    top: 50%;
    left: 36.5%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: 1000px; 
    margin-left:225px;
}


.header_2-user-pic {
    height: 100px;
    width: 100px;
    background-image: url('ADD-ONS/profilepic.jpg');
    background-size: cover;
    border-radius: 10%;
    border: 1px solid #00523E;
    background-color: white;
}





.header_2-user-info {
    margin-top:30px;
    font-size: 30px;
    color: #1C1C1C;
    font-weight:bolder ;
    font-family: IBMPlexSans, Arial, Sans-Serif;
    margin-left: 10px; 
}

.header_2-user-info-2{
    font-size: 10px;
    color: #7C7C7C;
    font-weight:normal;
}

.delete-post-btn {
    position: absolute;
    right: 0;
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    background-color: red;
  }
  
  
  .delete-post-btn img {
    width: 20px;
    height: 20px;
  }
  
  .edit-profile-btn {
      padding: 10px;
      background-color: #4CAF50; 
      color: white; 
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
  }
  
  .edit-profile-btn:hover, .delete-post-btn:hover {
      opacity: 0.5;
  }

  .delete-popup {
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 9;
    color: #00523E;

    opacity:1;
  }


  .main_post-img-container {
    position: relative;
    width: 100%;
    height: 500px; 
    margin-top: 20px;
    overflow: hidden;
    pointer-events: none;
}

.main_post-img {
    position: relative; 
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: center; 
    box-shadow: 0px 4px 5px -4px #C1ACBA;
    z-index: 0;
}

.blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(1px); 
    z-index: 0;
}



#headerUserPic2{
    
    background-size: cover;
    background-position: center;

}

.main_post-date{
    font-family:IBMPlexSans, Arial, Sans-Serif;
    
    font-size: 10px;
    text-align: justify;
    margin-left:10px;
}

.admin_text {
    margin-left: 160px;
    width: 980px;
    margin-right: 90px;
    font-family: IBMPlexSans, Arial, Sans-Serif;
    font-size: 32px;
    text-align: center;
    color:  #00523E;
    font-weight: bolder;
    padding-top: 5px;;
}
  
#admin_sort-button{
    margin-left:-15px;
}

  
.accounts_box{
    display: flex;
}

.accounts_box {
    margin-top: 20px;
    border-radius: 10px;
    /* height: 200px; */
    display: flex;
    background-color:#949494;
    overflow: hidden; 
    justify-content: center;
    align-items: center;
    padding:0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
    color: #00523E;
}

.main_post-top:hover {
    background-color: #00523E;
    color:white;
    opacity:50%;
}

#admin_mpdt,.acc_info{
    display: flex;
}
.acc_username, .acc_email,
.acc_info-username, .acc_info-email{
    width:28%;
    text-align: center;
}
.acc_idnum, .acc_college,
.acc_info-idnum, .acc_info-college{
    width:20%;
    text-align: center;
}

.acc_info-username, .acc_info-email, .acc_info-idnum, .acc_info-college{
    font-size: 12px;
}

.acc_delete{
    width:4%;
}
.acc_delete{
    height: 20px;
    width: 20px;
    background-size: 70%;
    background-image: url('CCAPDEV-LOGO-2/21.png');
    background-repeat: no-repeat;
    padding:3px;
}


#admin_ala:hover .acc_delete  {
    background-image: url('CCAPDEV-LOGO-2/9.png');
}

.acc_info:hover{
    color:greenyellow;
}

#admin_ai:hover .acc_delete{
    background-image: url('CCAPDEV-LOGO-2/22.png');
}
