* {
    font-family: "IBM Plex Sans", Arial, sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(ADD-ONS/DLSUBG.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.wrapper {
    width: 420px;
    background: #00523E;
    opacity: 0.9;
    border: 1px solid black;
    color: black;
    /* border-radius: 10px; */
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: black;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.logo {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.btn {
    opacity: 1 !important;
}

.popup {
    display: none;
    position: absolute;
    top: calc(50% - 380px);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00523E;
    border: 1px solid black;
    border-radius: 1px;
    z-index: 9999;
}

.popup-content {
    padding: 20px;
    text-align: center;
}

.popup-content button {
    background-color: white;
    color: #00523E;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-content button.close-button {
    margin-top: 10px;
}

.popup-content button:hover {
    background-color: #ddd;
}
