body { 
    font-family: Arial, sans-serif; 
    /* background-color: #00523E; */
  }


  #delbox{
    color: #00523E;
  }
  .form-container {
    max-width: 200px;
    background-color: white;
    padding: 10px;
  } 

  .form-container .del-btn {
    background-color: #f2f2f2;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    font-size: 24px;
    font-weight: bold;
    opacity: 0.8;
  }
  .form-container .cancel {
    background-color: #00523E;
  }

  .title_profile {
    font-weight: bold;
    width: fit-content; 
    margin: 0 auto;
  }
  
  .navbar {
    background-color: white;
    padding: 2px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .logo {
    flex-grow: 0;
    margin-right: auto;
  }
  
  .search-container-viewallpost{
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-container-viewuserprofile {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 180px;
  }
  
  .search-bar input[type="text"], .search-bar input[type="submit"] {
    padding: 10px;
  }
  
  .search-bar input[type="submit"] {
    background-color: #00523E;
    color: white;
    cursor: pointer;
  }
  
  .button {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 15px;
    background-color: #f2f2f2; 
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .button:hover {
    background-color: #ddd;
    border-color: #ccc;
  }
  
  .post-list { 
    list-style-type: none; 
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .post { 
    background-color: white;
    border: 1px solid #ddd; 
    margin-top: 10px; 
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    position: relative;
    }

    .posts-container {
        margin-top: 20px;
        padding: 0 20px;
    }
  
  .post-header { 
    display: flex; 
    text-align: center;
    align-items: center; 
  }
  
  .vote {
    margin-top: 10px; 
    margin-right: 15px; 
    justify-content: start;
    padding-left: 10px;
    margin-top: 10px;
    position: absolute;
    left: 10px; 
    top: 10px; 
  }
  
  .vote button { 
    cursor: pointer; 
    margin-top: 10px;
  }
  
  .post-header-viewallpost .title { 
    font-weight: bold; 
    flex-grow: 1; 
    text-align: center; 
  }
  
  .comments {
    border-top: 1px solid #ccc; 
    margin-top: 15px;
    padding-top: 15px;
}
  
  .comments-section {
    margin-top: 10px;
}

.comment {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;
}


.deletebutton {
  
    cursor: pointer;
    border-radius: 50%;
    margin-left: 100;
    
}

.comment-img-btn {
    margin-left: auto;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.comment-img-btn:hover {
    background-color: #e0e0e0;
}

.post-image {
  display: flex;
  justify-content: center; 
  align-items: center; 
  overflow: hidden;
  max-width: 100%;
  margin: 20px auto;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.post-image img {
  max-width: 100%; 
  height: auto; 
  display: block; 
}
  .profile-container {
    text-align: center;
    margin-top: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff; 
    box-shadow: 0 0 8px rgba(0,0,0,0.1); 
}



.post-header-viewuserprofile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}


.post-header-viewallpost {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%; 
}

.profile-navbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: #00523E; 
  border-bottom: 2px solid; 
  padding: 10px 0;
}

.profile-navbar a {
  text-decoration: none;
  color: white; 
  margin: 0 15px;
  padding-bottom: 5px;
  font-size: 16px;
  position: relative; 
}

.profile-navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; 
  background-color: transparent; 
}

.profile-navbar a:hover::after, .profile-navbar a.active::after {
  background-color: #BEBEBE; 
}


h1{
  color:white;
}

.context{
  margin-left: 80px;
  display: flex;
}