<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Create-Post</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- ?testing -->
    <link rel="stylesheet" href="Create-Post.css">
    <script type = "text/javascript" src="general.js"></script>
  
    

</head>

        <div class="create-post-cointainer">
            <div class = "create-post-top">
            <div class="create-draft-container">
                <div class="create-a-post-container">
                    Create a Post
                </div>
                <span class="close" onclick="closeLoginForm()">&times;</span>
            </div>
            
            </div>
           
            <hr class="divider">
            <div class="main">
                <div class="text-box-container">
                    <div class="title-box-container">
                        <div class="title-box-holder">
                            <textarea maxlength="300" placeholder="Title (required)" class="title-box" rows="1"></textarea>
                        </div>
                    </div>
        
                    <div class="body-box-container">
                        <div class="body-box-holder">
                            <textarea placeholder="Text (required)" class="body-box"></textarea>
                        </div>
                    </div>
                </div>

                <div class = "create-Post-buttons-container" id = "cPb-container">
                
                    <label for="imageUpload" class = "create-Post-buttons">
                        <div class = "addImage"> </div>
                        <span>Add Image</span>
                        <input type="file" id="imageUpload" style="display: none;">
                    </label>
                
                    <div class="create-Post-buttons" onclick="toggleDropdown_banner()">
    <div class="addBanner"></div>
    <span>Flair</span>
    <div class="dropdown-content_banner">
        <form>
            <ul>
                <li>
                    <input type="radio" name="flair" value="General Question" checked>
                    <label class="flair" id="general-question">General Question</label>
                </li>
                <li>
                    <input type="radio" name="flair" value="Discussion">
                    <label class="flair" id="discussion">Discussion</label>
                </li>
                <li>
                    <input type="radio" name="flair" value="Admissions">
                    <label class="flair" id="admissions">Admissions</label>
                </li>
                <li>
                    <input type="radio" name="flair" value="Scholarships">
                    <label class="flair" id="scholarships">Scholarships</label>
                </li>
                <li>
                    <input type="radio" name="flair" value="Student Life">
                    <label class="flair" id="student-life">Student Life</label>
                </li>
                <li>
                    <input type="radio" name="flair" value="New-articles">
                    <label class="flair" id="new-articles">News/Articles</label>
                </li>
                <li>
                    <input type="radio" name="flair" value="MEME">
                    <label class="flair" id="meme">MEME</label>
                </li>
            </ul>
        </form>
    </div>
</div>

                </div>


                </div>

                <div class="post-box-container" onclick="closeLoginForm()">
                    Post
                </div>
                    
        </div>


</html>