<!-- To put files in each other -->
{{> header}}
<div class="main">
  <p>This is a sample form!</p>
  <form action='answer' method='get'>
    <table> 
      <tr> 
        <td><label>Name</label></td> 
        <td><input type='text' name='vname' /></td> 
      </tr><tr> 
        <td><label>Password</label></td> 
        <td><input type='password' name='vpass' /></td> 
      </tr> 
    </table> 
    <input type='submit' value='Submit' /> 
  </form> 
</div>
<!-- this can be added through-out the file -->
{{> footer}}
