


    .create-post-cointainer{

        background-color: white;
        width: 600px;
        height: 400px;
        border-width: 1px;
        display: block;
        line-height: 16px;
        margin-left: auto;
        margin-right:auto;
        border-radius: 5px;
        margin-top:10%;
        margin-bottom:10%;

    }

    .create-draft-container{
        display: flex;
        margin-top: 5px;
        margin-bottom: 16px;
        padding: 4px;
        width: 100%;
        height: 100%;
        border-bottom-width: 1.11111px;
        border-bottom-style: solid;
        border-bottom-color: white;
    }

    .create-a-post-container{
        margin-top:20px;
        margin-left:30px;
        display: block;
        height: 10%;
        width: 102%;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        font-family: 'IBM Plex Sans', Arial, sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #00523E;
        text-align: center;
    }
   

    .discord-name{
        display: inline-block;
        font-size: 14px;
        height: 17.9861px;
        line-height: 18px;
        vertical-align: middle;
        width: 229.0601px;
        color: rgb(124, 124, 124);
    }

    .post-box-container {
        display: flex;
        height: 10%;
        margin: auto;
        width: 90%;
        border-radius: 4px;
        background-color:#00523E;
        color:white;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;

        font-family: 'IBM Plex Sans', Arial, sans-serif;
        font-size: 18px;
    }

    .post-box-container:hover{
        opacity:0.5;
    }
    .text-box-container {
        display: block;
        height: 200px;
        margin: auto;
        width: 90%;
        overflow: hidden; /* Prevents child elements from overflowing */
    }
    
    .title-box-container {
        display: block;
        height: 30%; /* Set height to 100% */
        width: 100%;
        text-align: center; /* Center the content horizontally */
    }
    
    .title-box-holder {
        display: block;
        height: 100%; /* Set height to 100% */
        width: 100%;
    }
    
    .title-box {
        overflow-x: hidden;
        overflow-wrap: break-word;
        height: calc(100% - 20px); /* Adjust height to accommodate padding and borders */
        resize: none;
        border-radius: 4px;
        border: 1px solid black; /* Adjust border style */
        font-size: 14px;
        line-height: 21px;
        padding: 8px 68px 8px 16px; /* Adjust padding */
        text-align: start;
        width: 100%;
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
    

    .body-box-container {
        display: block;
        height: 70%; /* Set height to 100% */
        width: 100%;
        text-align: center; /* Center the content horizontally */
    }
    
    .body-box-holder {
        display: block;
        height: 100%; /* Set height to 100% */
        width: 100%;
    }
    
    .body-box {
        overflow-x: hidden;
        overflow-wrap: break-word;
        height: calc(100% - 20px); /* Adjust height to accommodate padding and borders */
        resize: none;
        border-radius: 4px;
        border: 1px solid black; /* Adjust border style */
        font-size: 14px;
        line-height: 21px;
        padding: 8px 68px 8px 16px; /* Adjust padding */
        text-align: start;
        width: 100%;
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
    
    .body-box-container-2::-webkit-scrollbar {
        width: 2px;
    }
    
    .body-box-container-2::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }
    
    .body-box-container-2::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
    
    .body-box-container-2::-webkit-scrollbar-track {
        background-color: #f5f5f5;
    }
    
    

    .icon-holder{
        align-items: center;
        border-radius: 4px;
        display: flex;
        height: 42.1875px;
        position: sticky;
        top: 48px;
        width: 695.799px;
        z-index: 8;
        padding: 0px 5px;
        margin-right: 5px;
    }



    .body-box{
        width: 100%;
        height: 100%;
        resize: none;
    }

    .tag-post-container{
        align-items: flex-start;
        display: block;
        flex-direction: column;
        height: 20%;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
        padding-top: 7px;
        
    }


    .tag-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 39.9826px;
        max-width: 100%;
        width: 708.021px;
    }

    .tag-button-container{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 39.9826px;
        max-width: 530px;
        width: 100%;
        margin-top: 5px;
    }

    .flair{
        border-radius: 2px;
        font-size: 12px;
        padding: 0px 4px;
        padding-bottom: 2px;
        font-weight: bold;
    }

    #general-question{
        background-color: rgb(255, 214, 53);
    }

    #discussion{
       background-color: rgb(13, 211, 187); 
    }

    #admissions{
        background-color: rgb(0, 82, 62);
        color: white;
    }

    #scholarships{
        background-color: rgb(234, 0, 39);
        color: white;
    }

    #student-life{
        background-color: rgb(204, 82, 137);
        color: white;
    }

    #new-articles{
        background-color: purple;
        color: white;
    }

    #meme{
        background-color: orangered;
    }

    .divider{
        width: 99.8%;
        color:rgba(135, 138, 140, 0.5);
        margin: 0px;
        margin-bottom: 5px;
    }

    
    .close {
        margin:7px;
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

      .create-post-top {
        display: flex;
        width: 100%;
        flex-shrink: 0;
    }
    
    .addImage {
        background-image: url('CCAPDEV-LOGO-2/addImage.png');
    }
    
    .addBanner {
        background-image: url('CCAPDEV-LOGO-2/banner.png');
    }

    .addImage,.addBanner{
        height: 20px;
        width: 20px;
        background-size: cover;
    }

    .create-Post-buttons {
        height:30px;
        display: flex;
        align-items: center;
        border-radius:20px;
        padding: 5px;
        background-color: #949494;

        margin-top:10px;
        margin-bottom:10px;
        margin-right:10px;
    }

    .create-Post-buttons-container {
        height:7%;
        display: flex;
        align-items: center;
        margin-bottom:5px;
        margin: auto;
    }

    #cPb-container {
        display: flex;
        height: 10%;
        margin: auto;
        width: 90%;
    }

    span {
        margin-left:5px;
        margin-right:5px;
        font-family:IBMPlexSans, Arial, Sans-Serif;
        color: white;
        font-size: 12px;
        text-align: justify;
        font-weight: bold;
    }

    .dropdown-content_banner {
        font-family: Noto Sans, Arial, sans-serif;
        font-size: 14px;
        color: #060606; /* Text color */
        margin-top:-120px;
        margin-left:65px;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding:10px;
        border-radius: 20px;
    }
    
    .dropdown-content_banner a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content_banner a:hover {
        background-color: #f1f1f1;
    }
    
    .show_banner {
        display: block;
    }

    .dropdown-content_banner ul {
        list-style-type: none; /* Remove default bullet points */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
    }